body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: dimgray;
}

.container-card{
    border-radius: 1rem;
    background-color: lightgoldenrodyellow;
}

.container-shadow{
    border: 1px solid lightslategray;
    box-shadow: 1px 1px black;
}

.card-button{
    border-radius: 0.5rem;
    background-color: gold;
    box-shadow: 2px 2px black;
}
.card-button:hover{
    transform: translate(1px,1px);
    box-shadow: 1px 1px black;
}

.card-button:active{
    box-shadow: 0 0 black;
    transform: translate(1px,1px);
}

.card-button:disabled{
    box-shadow: 0 0 black;
    transform: translate(1px,1px);
    background-color: lightgrey;
}

.big-title{
    color: gold;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    -webkit-text-stroke: 1px black;
    text-shadow: 1px 1px black;
    margin: -1rem 0;
}

#container-main{
    height: 40rem;
    width: 40rem;
    padding: 1rem;
}

#container-main hr{
    width: 90%;
}

#banner__container{
    height: 15rem;
    display: flex;
    flex-direction: row;
}

#banner__hero{
    flex-basis: 30%;
    /*border: 1px solid blue;*/

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

#heroImage{
    position: absolute;
    width: 5rem;
}

#banner__dices{
    flex-basis: 39%;
    /*border: 1px solid black;*/

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#banner__enemy{
    flex-basis: 30%;
    /*border: 1px solid red;*/

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.enemyImage{
    position: absolute;
    top: -3rem;
    width: 8rem;

    transform: rotateY(180deg);
}

#results__container table{
    display: grid;
    grid-template-areas:
            "HEAD"
            "BODY";
}
#results__container table thead tr{
    display: grid;
    grid-template-areas:
            "RND PYR ENY RTS PTS";
}

#results__container table tbody tr{
    display: grid;
    padding: 0.1rem 3.5rem;
    grid-template-columns: 8rem 8rem 7.5rem 9rem 1rem;
}

#container-rank{
    height: 15rem;
    width: 23rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    margin: 15rem;

}

#container-rank p{
    text-align: center;
    padding: 0.25rem 0.5rem;
    font-weight: normal;
    font-size: 1.2rem;
}

#container-rank button{
    width: 5rem;
    margin-top: 1rem;
    padding: 0.25rem;
}
/*Dice*/
.dice-container {
    display: flex;
    justify-content: space-between;
}

.dice {
    /*width: 80px;*/
    width: 5rem;
    height: 5rem;
    position: relative;
    margin: .5rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.dice-dot {
    --top: 0%;
    --left: 0%;

    width: 1rem;
    height: 1rem;
    background-color: #000000;
    border-radius: 50%;

    /* Dot Positioning */
    position: absolute;
    top: var(--top);
    left: var(--left);
    transform: translateX(calc(var(--left) * -1)) translateY(calc(var(--top) * -1));
}

.btn-roll-dice {
    align-self: center;
    padding: 0.25rem;
    width: 5rem;
    margin-bottom: 2rem;
}
